# Descriptive Statistics Assignment

In [ ]:
import pandas as pd

data_url = "https://docs.google.com/spreadsheets/d/1w1BfAGjEJk_Ywglo0nWKUk5gKmqEmfFb101IoXtj8D8/export?format=csv"

### Read the Fortune 1000 data (using `data_url`) into a Pandas data frame.

In [ ]:
df = pd.read_csv(data_url)
df.head()

   rank               title Previous Rank  ... State   Latitude   Longitude
0     1             Walmart             1  ...    AR  36.372854  -94.208817
1     2         Exxon Mobil             4  ...    TX  32.814018  -96.948894
2     3  Berkshire Hathaway             2  ...    NE  41.256537  -95.934503
3     4               Apple             3  ...    CA  37.322998 -122.032182
4     5  UnitedHealth Group             6  ...    MN  44.921184  -93.468749

[5 rows x 19 columns]

### Print the data type for each column.

In [ ]:
df.dtypes

rank                              int64
title                            object
Previous Rank                    object
Revenues ($M)                    object
Revenue Change                   object
Profits ($M)                     object
Profit Change                    object
Assets ($M)                      object
Mkt Value as of 3/29/18 ($M)     object
Employees                        object
CEO                              object
CEO Title                        object
Sector                           object
Industry                         object
Years on Fortune 500 List        object
City                             object
State                            object
Latitude                        float64
Longitude                       float64
dtype: object

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [ ]:
isNumeric = df.select_dtypes(exclude=['object'])
print(isNumeric)
isNumeric.describe()

     rank   Latitude   Longitude
0       1  36.372854  -94.208817
1       2  32.814018  -96.948894
2       3  41.256537  -95.934503
3       4  37.322998 -122.032182
4       5  44.921184  -93.468749
..    ...        ...         ...
995   996  34.023243  -84.361556
996   997  42.548171  -71.172447
997   998  33.684567 -117.826505
998   999  33.596891 -117.658156
999  1000  33.684567 -117.826505

[1000 rows x 3 columns]

              rank     Latitude    Longitude
count  1000.000000  1000.000000  1000.000000
mean    500.499000    38.228050   -90.359700
std     288.818771     4.643421    16.145941
min       1.000000    18.422578  -157.858333
25%     250.750000    35.207699   -96.698886
50%     500.500000    39.693419   -86.583760
75%     750.250000    41.499320   -77.177260
max    1000.000000    47.978985   -66.050955

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

### Calculate the Pearson correlation coefficients between Revenue, Profit, Assets, and Employees.

### Group the data by sector and calculate the mean and standard deviation of revenue for each sector.

### Create a new financial strength index variable that combines the revenue, profit, and assets variables into a single value for each company. Then sort the data frame by that value to see who has the most financial strength. 

Try different ways of calculating the index and see how your results change.

### Group the data by sector and calculate the average financial strength index for each sector.